%section.accordian
  

// TODO: Name me.
%section.grid
  %section.item
    .pad.first
      %h2 Our Mission
      %p= Faker::Lorem.paragraph
  %section.item
    .pad
      %h2 Upcoming Events
      %a.read_more{ :href=>:events }
        %img.left{ :src=>"/img/events/thumbs/0.gif" }
      %p
        = Faker::Lorem.paragraph
        %a.read_more{ :href=>:events } Read more
  %section.item
    .pad.last
      .placeholder
        AD SPACE HERE
